/* Homepage */
.container-fluid {
    width: 100%;
}

.name {
    margin-top: 10px;
    padding-right: 0;
    padding-left: 5vw;
}

#name {
    font-family: 'Righteous';
    font-size: 2em;
    text-decoration: none;
    color: black;
}

/* Navigation bar */

.nav-bar {
    padding-bottom: 2vh;
}

.menu {
    margin-top: 15px;
    padding-left: 0;
    padding-top: 0.5em;
}

.menu ul {
    margin-bottom: 0;
}

.menu-item {
    font-family: 'Righteous';
    font-size: calc(13px + (18 - 13) * ((100vw - 300px) / (1600 - 300)));
    margin-right: 2em;
    text-decoration: none;
    color: black;
}


.menu-item:hover,
#account-page:hover, 
#dropdown > i:hover {
    color:#00ccff;
    cursor: pointer;
}

.neuPhone-page {
    color: #FF5252;
}

p {
    font-family: 'Righteous';
}

.info-items {
    padding-left: 17vw;
    padding-right: 0;
}

.the-new {
    padding-bottom: 15vh;
}

.the-new-box {
    margin-top: 25vh;
    height: 4vh;
}

#the-new-desc {
    color: #FF5252;
    font-size: calc(14px + (24 - 14) * ((100vw - 300px) / (1600 - 300)));
}

#big-name {
    font-size: calc(24px + (70 - 24) * ((100vw - 300px) / (1600 - 300)));
    margin-bottom: 0.2em;
}

#price {
    font-size: calc(14px + (23 - 14) * ((100vw - 300px) / (1600 - 300)));
    margin-bottom: 1.5em;
}

.product-button {
    border-radius: 30px;
    width: 7em;
    height: 2.8em;
    font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-family: 'Righteous';
}

.account {
    margin-top: 15px;
    padding-top: 0.5em;
}

#account-page {
    font-family: 'Righteous';
    text-decoration: none;
    color: black;
    font-size: calc(13px + (18 - 13) * ((100vw - 300px) / (1600 - 300)));
    margin-right: 4em;
}

/*.dropdown {
    font-family: 'Righteous';
}*/

#dropdown,
.dropdown-items {
    text-align: center;
    list-style-type: none;
    display: none;
}

#dropdown {
    margin-left: auto;
    margin-bottom: 0;
    margin-top: 10px;
}

.drop-menu {
    position: absolute;
    margin-top: 15px;
    display: none;
    margin-left: 35vw;
    width: 17vw;
    background-color: white;
}

#dropdown > i {
    float: center;
    margin-top: 20px;
    color: black;
}

.dropdown-items > li > a {
    margin-right: 0;
}

.dropdown-items {
    padding: 0.6em 1em;
}

.item-line {
    margin: 0.5em 0;
    color: lightgray;
}

.product-button {
    background-color: #5EFF6E;
    border: none;
    color: black;
    font-size: calc(13px + (18 - 13) * ((100vw - 300px) / (1600 - 300)));
    width: 8vw;
}

.product-button:hover {
    background-color: #00ccff;
    cursor: pointer;
}

.phones-pic1 {
    margin-top: 20vh;
    padding-left: 5vw;
}

@media only screen and (min-width: 1200px) and (max-width: 9000px) {
    .menu li {
        display: inline;
        margin-right: 4em;
    }
    
    #phones-img1 {
        width: 50vw;
    }
}

@media only screen and (min-width: 1500px) and (max-width: 1620px) {
    .menu li {
        display: inline;
        margin-right: 1em;
    }

    #phone-img1 {
        width: 30vw;
    }

    .account {
        padding-right: 7vw;
        padding-left: 0;
    }

    #account-page {
        margin-right: 1em;
    }
}

@media only screen and (min-width: 1199px) and (max-width: 1499px) {
    .menu li {
        display: inline;
        margin-right: 10px;
    }

    #phone-img1 {
        width: 30vw;
    }

    .account {
        padding-right: 8vw;
        padding-left: 0;
    }

    #account-page {
        margin-right: 0.5em;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
    .menu li {
         display: inline;
         margin-right: 10px;
    }

    #phone-img1 {
        width: 30vw;
    }

    .account {
        padding-right: 9vw;
        padding-left: 0;
    }

    #account-page {
        margin-right: 10px;
    }
}

@media only screen and (min-width: 540px) and (max-width: 1023px) {
    .menu {
        display: none;
    }

    #phone-img1 {
        width: 25vw;
    }

    #dropdown {
        display: block;
        width: 5em;
        margin-top: 0;
    }

    .drop-menu {
        position: absolute;
        margin-top: 15px;
        display: block;
        margin-left: 35vw;
        width: 17vw;
        background-color: white;
    }

    .drop-menu:hover .dropdown-items {
        display: block;
    }

    #dropdown > i {
        float: center;
        margin-top: 20px;
    }

    .dropdown-items > li > a {
        margin-right: 0;
    }

    .dropdown-items > li {
        margin-bottom: 0.5em;
    }

    .dropdown-items {
        padding: 0.6em 1em;
    }

    .account {
        padding-left: 0;
        margin-left: auto;
        padding-right: 11em;
    }

    #account-page {
        margin-right: 0;
    }
}
/*@media only screen and (min-width: 1024px) and (max-width: 1199px) {
    #dropdown,
    .dropdown-items {
        display: none;
    }

    .menu li {
        display: inline;
        margin-right: 10px;
    }

    #phone-img1 {
        width: 30vw;
    }

    .account {
        padding-right: 9vw;
    }

    #account-page {
        margin-right: 10px;
    }
    
}

@media only screen and (max-width: 1023px) {
    .menu {
        display: none;
    }

    #dropdown {
        display: block;
    }

    .name {
        width: 25vw;
        position: absolute;
    }

    #dropdown > i {
        float: center;
        margin-top: 15px;
    }
}

@media only screen and (max-width: 540px) {
    #name {
        text-align: center;
    }

    #the-new-desc,
    #big-name,
    #price {
        text-align: center;
    }

    .the-new-box{
        margin-top: 3em;
    }

    .price-button-box {
        width: 8em;
        display: block;
        margin: 0 auto;
    }
    
    .product-button {
        margin-bottom: 0.6em;
    }
}*/

#info {
    text-decoration: none;
    margin-top: 1em;
    font-size: calc(13px + (18 - 13) * ((100vw - 300px) / (1600 - 300)));
    color: #3284FF;
}

#space {
    margin-right: 0.6em;
}

.line {
    width: 2000px;
    margin-top: 0.5em;
    height: 0px;
}

.phone-chipset {
    padding-left: 7vw;
}

#purple-phone {
    width: 14vw;
}

/*.chipset {
    box-shadow: 0 -0.1rem 1rem rgba(0,0,0,0.15) !important;
}*/

.chipset {
    padding-top: 12vh;
    padding-bottom: 8vh;
}

.chipset-info {
    padding-right: 15vw;
    padding-top: 10vh;
}

#chip-title {
    font-family: 'Righteous';
    text-align: left;
    color: #434343;
    font-size: calc(24px + (50 - 24) * ((100vw - 300px) / (1600 - 300)));
}

#chip-title i {
    font-style: normal;
    color: #B250FF;
}

.chipset-desc {
    margin-top: 3vh;
    margin-bottom: 3vh;
    text-align: left;
}

.chipset-desc h4 {
    color: #696969;
    font-family: 'Quicksand';
    line-height: 3.5vh;
}

.chipset-info a {
    font-family: 'Quicksand';
    text-decoration: none;
    text-align: left;
    color: #3284FF;
}

.camera-moments {
    padding-left: 16vw;
    padding-top: 7vh;
}

.camera-phones {
    padding-right: 8vw;
}

.camera-moments h2 {
    text-align: left;
    font-family: 'Righteous';
    color: #434343;
    font-size: calc(24px + (50 - 24) * ((100vw - 300px) / (1600 - 300)));
    line-height: 9vh;
}

.camera-moments h2 > i {
    font-style: normal;
    color: #FFA8AD;
    font-size: calc(24px + (50 - 24) * ((100vw - 300px) / (1600 - 300)));
}

.camera-moments h4 {
    text-align: left;
    font-family: 'Quicksand';
    line-height: 4vh;
    color: #696969;
    width: 21vw;
    margin-top: 3.5vh;
}

/*.pink-rect {
    position: absolute;
    width: 100rem;
    top: 108rem;
    left: 70rem;
    z-index: -1;
}*/


.models {
    padding-top: 8vh;
}

.choose {
    margin: 5vh;
}

.choose h2 {
    font-family: 'Righteous';
    color: #515151;
    margin-bottom: 2vh;
    font-size: calc(24px + (38 - 24) * ((100vw - 300px) / (1600 - 300)));
}

.choose a {
    text-decoration: none;
    font-weight: 500;
    color: #3284FF;
}

.two-phones h3 {
    font-family: 'Righteous';
}

.r-model ul,
.r-pro-model ul {
    list-style-type: none;
    font-family: 'Quicksand';
}